@font-face {
    font-family: 'Cooper';
    src: url('CooperBlack.eot');
    src: url('CooperBlack.eot?#iefix') format('embedded-opentype'),
        url('CooperBlack.woff2') format('woff2'),
        url('CooperBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cooper';
    src: url('CooperBlack.eot');
    src: url('CooperBlack.eot?#iefix') format('embedded-opentype'),
        url('CooperBlack.woff2') format('woff2'),
        url('CooperBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cooper';
    src: url('CooperBlack.eot');
    src: url('CooperBlack.eot?#iefix') format('embedded-opentype'),
        url('CooperBlack.woff2') format('woff2'),
        url('CooperBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cooper';
    src: url('CooperBlack.eot');
    src: url('CooperBlack.eot?#iefix') format('embedded-opentype'),
        url('CooperBlack.woff2') format('woff2'),
        url('CooperBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cooper';
    src: url('CooperBlack.eot');
    src: url('CooperBlack.eot?#iefix') format('embedded-opentype'),
        url('CooperBlack.woff2') format('woff2'),
        url('CooperBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

